<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input type="text" pInputText />
    </div>

    <div class="ui-g-12">
      <p-button type="submit" label="Pesquisar"></p-button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="pessoas" [responsive]="true" [paginator]="true" [rows]="4">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th width="80px">Estado</th>
            <th width="120px">Status</th>
            <th width="90px">Opções</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.cidade }}</td>
            <td class="col-data">{{ pessoa.estado }}</td>
            <td class="col-data"><a [pTooltip]="pessoa.status ? 'Desativar' : 'Ativar'" tooltipPosition="top" href="#">
              {{ pessoa.status ? 'Ativo' : 'Inativo' }}</a></td>
             <td>
              <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <p-button icon="fa fa-trash" styleClass="ui-button-danger" pTooltip="Excluir"
                        tooltipPosition="top"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <p-button type="submit" label="Nova Pessoa"></p-button>
    </div>
  </div>
</div>
